{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section reveal">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {% include i18n-inline.html value=career-profile.title %}
  </h2>

  <div class="summary">
    {% include i18n-block.html value=career-profile.summary %}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
