{% assign languages = site.data.data.sidebar.languages %}
{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    {% include i18n-inline.html value=languages.title %}
  </h2>

  <ul class="list-unstyled interests-list">
    {% for language in languages.info %}
    <li class="reveal">
      {% include i18n-inline.html value=language.idiom %}
      <span class="lang-desc">({% include i18n-inline.html value=language.level %})</span>
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
